body {
  background-color: #17171b;
  color: #fff;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  width: 100%;
  height: 500px;
  margin: 20px;
}
.Errlabel {
  margin: 20px;
  display: inline-block;
}

.Errvalue {
  display: inline-block;
  margin: 20px;
}

.displayBlock {
  margin-top: 20px;
  display: inline-block;
}

.marginLeft {
  margin-left: 100px;
}
.marginLeft15px {
  margin-left: 15px;
}
.groupingClass {
  display: inline-block;
  margin-top: 100px;
  margin-left: 100px;
}
.introjs-tooltiptext {
  color: black;
}
.introjs-helperLayer {
  box-sizing: content-box;
  position: absolute;
  z-index: -1;
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #777;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-out;
}
